.vs/th-poker-api/config/applicationhost.config
.vs/th-poker-api/DesignTimeBuild/.dtbcache.v2
.vs/th-poker-api/FileContentIndex/3eae160f-b32d-4f66-90e5-c18f08a04b55.vsidx
.vs/th-poker-api/FileContentIndex/cfd4ce6a-1fec-43b8-947d-9b2d7cf99eb9.vsidx
.vs/th-poker-api/v17/.suo
th-poker-api/bin/Debug/net6.0/th-poker-api.dll
th-poker-api/bin/Debug/net6.0/th-poker-api.pdb
th-poker-api/bin/Release/net6.0/th-poker-api.dll
th-poker-api/bin/Release/net6.0/th-poker-api.pdb
th-poker-api/Migrations/20221212040130_alterFriendsAddCreatedUser.cs
th-poker-api/Migrations/20221212040130_alterFriendsAddCreatedUser.Designer.cs
th-poker-api/obj/project.assets.json
th-poker-api/obj/project.nuget.cache
th-poker-api/obj/th-poker-api.csproj.nuget.dgspec.json
th-poker-api/obj/th-poker-api.csproj.nuget.g.props
th-poker-api/obj/Debug/net6.0/_IsIncrementalBuild
th-poker-api/obj/Debug/net6.0/th-poker-api.assets.cache
th-poker-api/obj/Debug/net6.0/th-poker-api.csproj.AssemblyReference.cache
th-poker-api/obj/Debug/net6.0/th-poker-api.csproj.CoreCompileInputs.cache
th-poker-api/obj/Debug/net6.0/th-poker-api.csproj.FileListAbsolute.txt
th-poker-api/obj/Debug/net6.0/th-poker-api.dll
th-poker-api/obj/Debug/net6.0/th-poker-api.GeneratedMSBuildEditorConfig.editorconfig
th-poker-api/obj/Debug/net6.0/th-poker-api.genruntimeconfig.cache
th-poker-api/obj/Debug/net6.0/th-poker-api.MvcApplicationPartsAssemblyInfo.cs
th-poker-api/obj/Debug/net6.0/th-poker-api.pdb
th-poker-api/obj/Debug/net6.0/ref/th-poker-api.dll
th-poker-api/obj/Debug/net6.0/refint/th-poker-api.dll
th-poker-api/obj/Release/net6.0/_IsIncrementalBuild
th-poker-api/obj/Release/net6.0/th-poker-api.assets.cache
th-poker-api/obj/Release/net6.0/th-poker-api.csproj.AssemblyReference.cache
th-poker-api/obj/Release/net6.0/th-poker-api.csproj.BuildWithSkipAnalyzers
th-poker-api/obj/Release/net6.0/th-poker-api.csproj.CoreCompileInputs.cache
th-poker-api/obj/Release/net6.0/th-poker-api.csproj.FileListAbsolute.txt
th-poker-api/obj/Release/net6.0/th-poker-api.dll
th-poker-api/obj/Release/net6.0/th-poker-api.GeneratedMSBuildEditorConfig.editorconfig
th-poker-api/obj/Release/net6.0/th-poker-api.genruntimeconfig.cache
th-poker-api/obj/Release/net6.0/th-poker-api.pdb
th-poker-api/obj/Release/net6.0/ref/th-poker-api.dll
th-poker-api/obj/Release/net6.0/refint/th-poker-api.dll
.vs/th-poker-api/xs/project-cache/th-poker-api-Release.json
th-poker-api/bin/Release/net6.0/th-poker-api
th-poker-api/bin/Release/net6.0/th-poker-api.deps.json
th-poker-api/Common/DatabaseConnection.cs
th-poker-api/obj/Debug/net6.0/project.razor.json
th-poker-api/obj/Debug/net6.0/staticwebassets/msbuild.buildMultiTargeting.th-poker-api.props
th-poker-api/obj/Debug/net6.0/staticwebassets/msbuild.buildTransitive.th-poker-api.props
th-poker-api/obj/Release/net6.0/apphost
th-poker-api/obj/Release/net6.0/th-poker-api.MvcApplicationPartsAssemblyInfo.cs
th-poker-api/obj/Release/net6.0/staticwebassets/msbuild.buildMultiTargeting.th-poker-api.props
th-poker-api/obj/Release/net6.0/staticwebassets/msbuild.buildTransitive.th-poker-api.props
/.vs/th-poker-api/FileContentIndex
th-poker-api/Controllers/HistoryController.cs
.vscode/launch.json
th-poker-api/bin/Debug/net6.0/appsettings.Development.json
th-poker-api/bin/Debug/net6.0/appsettings.json
th-poker-api/bin/Debug/net6.0/AutoMapper.dll
th-poker-api/bin/Debug/net6.0/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
th-poker-api/bin/Debug/net6.0/BouncyCastle.Crypto.dll
th-poker-api/bin/Debug/net6.0/EntityFramework.dll
th-poker-api/bin/Debug/net6.0/EntityFramework.SqlServer.dll
th-poker-api/bin/Debug/net6.0/Humanizer.dll
th-poker-api/bin/Debug/net6.0/MailKit.dll
th-poker-api/bin/Debug/net6.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
th-poker-api/bin/Debug/net6.0/Microsoft.AspNetCore.JsonPatch.dll
th-poker-api/bin/Debug/net6.0/Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll
th-poker-api/bin/Debug/net6.0/Microsoft.Data.SqlClient.dll
th-poker-api/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
th-poker-api/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Design.dll
th-poker-api/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
th-poker-api/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Relational.dll
th-poker-api/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.SqlServer.dll
th-poker-api/bin/Debug/net6.0/Microsoft.Extensions.Caching.Memory.dll
th-poker-api/bin/Debug/net6.0/Microsoft.Extensions.DependencyModel.dll
th-poker-api/bin/Debug/net6.0/Microsoft.Identity.Client.dll
th-poker-api/bin/Debug/net6.0/Microsoft.IdentityModel.JsonWebTokens.dll
th-poker-api/bin/Debug/net6.0/Microsoft.IdentityModel.Logging.dll
th-poker-api/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.dll
th-poker-api/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
th-poker-api/bin/Debug/net6.0/Microsoft.IdentityModel.Tokens.dll
th-poker-api/bin/Debug/net6.0/Microsoft.OpenApi.dll
th-poker-api/bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
th-poker-api/bin/Debug/net6.0/MimeKit.dll
th-poker-api/bin/Debug/net6.0/NETCore.MailKit.dll
th-poker-api/bin/Debug/net6.0/Newtonsoft.Json.Bson.dll
th-poker-api/bin/Debug/net6.0/Newtonsoft.Json.dll
th-poker-api/bin/Debug/net6.0/Scrutor.dll
th-poker-api/bin/Debug/net6.0/Swashbuckle.AspNetCore.Filters.Abstractions.dll
th-poker-api/bin/Debug/net6.0/Swashbuckle.AspNetCore.Filters.dll
th-poker-api/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
th-poker-api/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
th-poker-api/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
th-poker-api/bin/Debug/net6.0/System.CodeDom.dll
th-poker-api/bin/Debug/net6.0/System.Configuration.ConfigurationManager.dll
th-poker-api/bin/Debug/net6.0/System.Data.SqlClient.dll
th-poker-api/bin/Debug/net6.0/System.Drawing.Common.dll
th-poker-api/bin/Debug/net6.0/System.IdentityModel.Tokens.Jwt.dll
th-poker-api/bin/Debug/net6.0/System.Runtime.Caching.dll
th-poker-api/bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
th-poker-api/bin/Debug/net6.0/System.Security.Permissions.dll
th-poker-api/bin/Debug/net6.0/System.Windows.Extensions.dll
th-poker-api/bin/Debug/net6.0/th-poker-api
th-poker-api/bin/Debug/net6.0/th-poker-api.deps.json
th-poker-api/bin/Debug/net6.0/th-poker-api.runtimeconfig.json
th-poker-api/bin/Debug/net6.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
th-poker-api/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
th-poker-api/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
th-poker-api/bin/Debug/net6.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
th-poker-api/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
th-poker-api/bin/Debug/net6.0/runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll
th-poker-api/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
th-poker-api/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
th-poker-api/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
th-poker-api/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
th-poker-api/bin/Debug/net6.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
th-poker-api/bin/Debug/net6.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
th-poker-api/bin/Debug/net6.0/runtimes/win-arm64/native/sni.dll
th-poker-api/bin/Debug/net6.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
th-poker-api/bin/Debug/net6.0/runtimes/win-x64/native/sni.dll
th-poker-api/bin/Debug/net6.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
th-poker-api/bin/Debug/net6.0/runtimes/win-x86/native/sni.dll
th-poker-api/obj/Debug/net6.0/staticwebassets.build.json
th-poker-api/obj/Debug/net6.0/th-poker-api.AssemblyInfo.cs
th-poker-api/obj/Debug/net6.0/th-poker-api.AssemblyInfoInputs.cache
th-poker-api/obj/Debug/net6.0/th-poker-api.csproj.CopyComplete
th-poker-api/obj/Debug/net6.0/th-poker-api.GlobalUsings.g.cs
th-poker-api/obj/Debug/net6.0/staticwebassets/msbuild.build.th-poker-api.props
th-poker-api/obj/Debug/net6.0/th-poker-api.AssemblyInfo.cs
th-poker-api/obj/Debug/net6.0/th-poker-api.AssemblyInfoInputs.cache
th-poker-api/obj/Debug/net6.0/th-poker-api.GlobalUsings.g.cs
th-poker-api/obj/Debug/net6.0/th-poker-api.AssemblyInfo.cs
th-poker-api/obj/Debug/net6.0/th-poker-api.AssemblyInfoInputs.cache
th-poker-api/obj/Debug/net6.0/th-poker-api.GlobalUsings.g.cs
