<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Grand Poker Reset Password </title>
</head>
<body>
    <div class="container">
        <div style="  margin: auto;
        width: 50%;
        border: 2px solid gray;
        padding: 10px;">
            <div style="  text-align: center;">
                <h1>Grand Poker</h1>
                <h4>Reset password your account</h4>
            </div>
            <hr>
            <div class="card-body">
                <p>Grand Poker received a request for password recovery from {1} </p>
                <p>Use this code for a temporary password:</p>
                <h2 style=" text-align: center;
                color: black; font-weight: bold;">
                    {0}
                </h2>
                <footer>If you do not recognize {1} you can safely ignore this email.</footer>
            </div>
        </div>
    </div>
</body>
</html>